html{
    background-color: #CDE8E5;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-mine {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    
    background-color:#EEF7FF;
    margin:5%;;
    padding:1%;
    border-radius:5px;
    
}
#image{
    height:auto;
    max-width:100%;
    margin:auto;
    display:block;
}
header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-weight: 800;
}
h3{
    font-weight: 600;
}
#img-caption{
font-family:"Open Sans";
padding:20px;
font-weight: 600;
}
#points{
    max-width:400px;
    margin:auto;
    margin-bottom:3px;
    flex-grow: 1;
    border:3px solid #FFF9D0;
}
#year{
    font-weight:700;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}
#tribute-info{
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content:center;
}
#detail{
    font-family: Arial, Helvetica, sans-serif;
}
#summary,#link{
    font-family:"Open Sans";
}
#tribute-link{
    color:#FFB200;
}
#tribute-link:hover{
    color:#EB5B00;
}
#tribute-link:visited{
    color:#E4003A;
    
}